body { display: grid; grid-template-columns: 2fr auto 2fr; grid-template-rows: 110px auto 1fr; }
#login { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white; padding: 30px; grid-column: 2/3; grid-row: 2/3; max-width: 350px }
.g-recaptcha { margin: 19px 0px -7px; transform-origin: 0 0; transform: scale(.95); }
#button1:hover { background-color: black; transition-duration: .25s; }
#button1 { background-color: #424242; margin: 20px 0px 30px; }
